/* Global style */
:root{
    --white:#fff;
    --gray:#6D6D6E;
    --gray-light:#808080;
    --black:#141414;
    --primary-color:#00ED82;
    --primary-dark-color:#27AE60;
    --primary-text-color:#777;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{

    box-sizing: border-box;
    /* font-size: 62.5%; 1 rem = 10px (10/16) */

}
body{
    color:var(--primary-text-color);;
    font-family: 'Lato', sans-serif;    
    font-weight: 300;
    line-height:1.6;
    font-size:16px;
    color: #d1d0cf;
    background: #141414;
 

}
header{
    display:flex;
    align-items: center;
    background-color: var(--black);
    padding: 10px 16px;

}
nav{
    margin: 0 auto;
    font-weight: 400;
}
.logo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.logo > img{
    width: 100%;
}
.nav__lists{
    display: flex;
    justify-content: space-between;
}

.nav__list{
    list-style: none;
    margin-left: 14px;
}
a{
    text-decoration: none;
}
.nav__link:link, .nav__link:visited {
    color:var(--primary-color);
    text-transform: uppercase;
    display: block;
    transition: all .2s;
}


.nav__link:hover, .nav__link:active {
    border-bottom: 1px solid #fff;
    transform: translateY(-3px);
 } 

.nav__left .icon-user{
    margin-right: 5px;

}
.icon{
    height: 16px; 
    width: 16px; 
}
.icon:hover{
    cursor: pointer;
}
.nav__left .icon{
    fill: #fff;
}
/* sign up page */
.register__main{
    height:100vh;
    background-image: linear-gradient(to right,rgba(0, 237, 130,.5),rgb(10 104 62 / 50%)),url(../images/bg.jpg);    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
}
.form__section{
    display:flex;
    align-items: center;
    justify-content:center;
     position: relative;
}
.form{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 12px 10px rgb(0 0 0 / 20%);
    padding: 35px 30px;
    margin-top:20px;


}
.form__text{
    font-weight: 400;
    font-size:18px;
    margin-bottom: 10px;
}
.input__container{
    position: relative;
    min-width: 300px;
    margin-bottom:12px;
}
.input__container input{
    width: 100%;
    outline: none;
    border: none;
    padding:10px 5px;
    border-bottom:1px solid #777;

}
.input__container  label {
    position:absolute;
    left: 4px;
    top: 3px;
    font-size:16px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
form input:focus ~ label {
    color: var(--primary-color);
    top:-12px;
    opacity: 1;
    visibility:visible;
}
input:focus::placeholder {
    color: transparent;
}

.submit-btn{
    color:#fff;
    outline:none;
    border:none;
    background-color:var(--primary-dark-color);
    padding:10px 20px;
    border-radius:10px
}
.login__link{
    display:block;
    margin-top:10px;
     color:var(--primary-text-color);
}
.error{
    color: orangered;
    font-size: 14px;
}

.previewImage,
.previewVideo {
    width: 100%;
    filter: brightness(70%);
}




.buttons button {
    background-color: rgba(51,51,51,0.4);
    color: #fff;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

buttons button i {
    color: inherit;
}

.buttons button:hover {
    background-color: #e6e6e6;
    color: #000;
}






/*  ******************** Home page  ******************** */


.container-fluid{
    padding: 0 100px;
}


/* ******************** slider main **************** */
.trailer{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
}
.iq-main-slider{
    position: relative;
}

#home-slider ul.slick-dots{
    bottom: 30px;
}

#home-slider .slick-dots li{
    height: auto;
    width: auto;
}
#home-slider .slick-dots li button{
    height: 2px;
    width: 30px;
    background: rgba(3, 201, 112, 0.4);
    padding: 0;
}

#home-slider .slick-dots li.slick-active button{
    background:  var(--primary-color);
}

#home-slider li {
    position: relative;
}
.slider-description{
    position: absolute;
    top: 15%;
    left: 80px;
}
#home-slider h1.slider-text{
    font-size: 50px;
    margin: 15px 0;
}
#home-slider p{
    margin: 20px 0;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#home-slider .slick-bg{
    padding: 130px 0 50px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}

/* #home-slider .slick-bg.s-bg-1{
    background-image: url("../../images/slider/slider1.jpg");
}
#home-slider .slick-bg.s-bg-2{
    background-image: url("../../images/slider/slider2.jpg");
}
#home-slider .slick-bg.s-bg-3{
    background-image: url("../../images/slider/slider3.jpg");
} */

.slick-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, rgba(83,100,141,0) 100%);
    width: 100%;
    z-index: -1;
}
/* .trailor-video{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    text-align: center;
} */
.channel-name{
    color:  var(--primary-color);
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 2.5px;
    font-weight: 500;
}
.c-logo{
    width: 130px;
    max-height: 73px;
}


.channel-logo{
    border-left: 5px solid var(--primary-color);
    background: transparent linear-gradient(270deg, rgba(1,11,2,0) 0%, rgba(55,255,90,0.3) 100%);
    padding: 10px 10px 10px 15px;
    width: 255px;
    position: relative;
    overflow: hidden;
}

.playbtn{
    display: flex;
    align-items: center;
}
.playbtn img{
    display: inline-block;
    width: 50px;
    filter: invert(1);
}
.playbtn img:hover{
    background: var(--primary-color);
    border-radius: 50%;
    filter: invert(0);
}
.w-trailor{
    font-size: 17px;
    letter-spacing: 3.5px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;

}
.slider-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.big-title{
   background: url("../../images/texure.jpg");
   background-repeat: repeat-x;
   background-position: 100% 100%;
   color: transparent;
   background-clip: text;
   -webkit-font-smoothing : antialiased;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.slick-track{
    margin: unset !important;
}
h1, .h1{
    font-size: 3.052em;
}
h2, .h2{
    font-size: 2.300em;
}
h3, .h3{
    font-size: 1.953em;
}
h4, .h4{
    font-size: 1.400em;
}
h5, .h5{
    font-size: 1.300em;
}
h6, .h6{
    font-size: 1.0em;
}

.text-white{
    color: #fff !important;
}
.text-body{
    color: #d1d0cf !important;
}

.text-primary{
    color: var(--primary-color) !important;
}

.iq-button.btn{
    padding: 12px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.btn{
    outline: medium none;
    padding: 9px 30px;
    position: relative;
    display: inline-block;
    border-radius: 0 !important;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease-out 0s;
}
.btn-hover{
    background:  var(--primary-dark-color);
    border: 1px solid  var(--primary-dark-color);
    color: #fff;
    transition:color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    border-radius: 5px;

}

.btn-hover::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:  var(--primary-color);;
    border: 1px solid  var(--primary-color);;
    transform: scaleX(1);
    transform-origin: 50%;
    transition: transform 0.3s ease-out;

}
.btn-hover:hover, .btn-hover:focus, .btn-hover:active{
    color: #fff;
}
.btn-hover:focus{
    box-shadow: none !important;
}

.btn-hover:hover::before, .btn-hover:focus::before, .btn-hover:active::before{
    transform: scaleX(0);
}

.btn-link{
    background: transparent;
    color: #fff;
}
.btn-link:hover{
    color:  var(--primary-color);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
a.text-primary:focus, a.text-primary:hover{
    color:  var(--primary-color) !important;
}
.w-trailor:hover{
    transition: all 0.5s ease;
    color: var(--primary-color);
}
/* responsiveness *********************** */

@media (min-width : 1499px){
    #home-slider h1.slider-text{
        margin: 25px 0 0;
    }
    #home-slider p{
        margin: 32px 0px;
    }
}
@media (max-width : 1199px){
    #home-slider .slick-bg{
        height: 100%;
    }
}
@media (max-width : 991px){
    .hover-buttons .btn{
        font-size: 10px;
    }
    #home-slider .slick-bg{
        padding: 50px 0;
    }

    .r-mb-23{
        margin-bottom: 23px;
    }

 
    #home-slider h1.slider-text{
        font-size: 35px;
    }
    .iq-main-slider{
        padding-top: 60px !important;
    }
}

@media (max-width : 767px){
    #home-slider h1.slider-text{
        line-height: 62px;
        margin: 0;
    }
    #home-slider p{
        margin: 22px 0; 
    }

    .iq-main-header{
        margin-bottom: 10px;
    }
    .main-content{
        padding-top: 25px;
    }
    #home-slider p{
        width: 100%;
    }
    .slick-bg::before{
        background: linear-gradient(-360deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 40%,
         rgba(83,100,141,0) 100%);

    }
    .play-button i{
        font-size: 16px;
    }
    .play-button::after, .play-button::before{
        width: 40px;
        height: 40px;
    }
}

/* ******************************** */
.main-content{
    padding-top: 40px;
}

.iq-main-header{
    margin-bottom: 20px;
}
.main-title a:hover , .main-title a:focus{
    color:  var(--primary-color) !important;
}
.iq-view-all:hover{
    color:  var(--primary-color);
}
.favorites-slider .slick-list{
    overflow: visible;
    padding-bottom: 40px !important;
}

.favorites-slider li.slide-item{
    float: left;
    width: 25%;
}

li.slide-item{
    position: relative;
    padding: 0px 15px;
}

li.slide-item .block-images{
    position: relative;
    width: 100%;
    transition: all 0.45s ease 0s;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    transition: all 0.6s ease 0s;
}
li.slide-item:hover .block-images{
    overflow: visible;
    border-left: 5px solid var(--primary-color);
}
 .block-images .img-box img{
     height: 174px;

}
li.slide-item:hover .block-images .img-box{
    position: relative;
}
.favorites-slider .slick-list{
    overflow: visible;
}
li.slide-item:hover .block-images{
    z-index: 99;
    transform: scale3d(1.1,1.1,1) translate3d(0,0,0) perspective(500px);
    transform-origin: 50% 50%;
    transition: all 0.6s ease 0s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
.block-social-info{
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 25px;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 0;
}
.block-description{
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.block-description>h6{
    font-size: 1.5em;
}
.block-description .iq-title{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:200px;
}
.music-play-lists li{
    position: relative;
    height: 30px;
    width: 30px;
    line-height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 auto 7px;
    display: flex;
    align-items: center;
}
.music-play-lists span{
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    background: #fff;
    color: var(--primary-color);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease 0s;
    cursor: pointer;
}
.music-play-lists .count-box{
    height: 15px !important;
    width: 15px !important;
    line-height: 15px !important;
    font-size: 8px !important;
    background:  var(--primary-color) !important;
    color: #fff !important;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    text-align: center !important;
}

.music-play-lists li:hover span{
    background:  var(--primary-color);
    color: #fff;
    transition: all 0.45s ease 0s;

}

.text-white{
    font-size: 14px;
}

li.slide-item .block-images::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
}

li.slide-item:hover .block-images::before{
    opacity: 1;
    z-index: 9;
}
li.slide-item:hover .block-description{
    animation: fadeIn 0.6s ease-in-out;
    opacity: 1;
}
li.slide-item:hover .block-social-info{
    animation: fadeIn 0.6s ease-in-out;
    opacity: 1;
}

.hover-buttons .btn{
    padding: 5px 15px;
    font-size: 12px;
}
li.slide-item.slick-current:hover .block-images{
    transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(500px) ;
}
li.slide-item .block-images::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(20,20,20,0.4) 50%, rgba(83,100,141,0) 100%);
    transition: all 0.6s ease 0s;
}
small, .text-small, span{
    font-size: 14px;
}

a:focus, a:hover{
    color:  var(--primary-color);
    outline: none;
}

li.slide-item{
    position: relative;
    padding: 0px 10px;
}

.iq-button.btn{
    padding: 7px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.block-images .hover-buttons{
    margin-top: 5px;
}

.block-social-info .music-play-lists li {
    width: 40px;
    height: 40px;
}

.block-social-info .music-play-lists span{
    width: 30px;
    height: 30px;
}
.block-social-info .music-play-lists span i{
    font-size: 15px;
}

.overflow-hidden{
    overflow: hidden;
    max-height: 700px;
}
.share{
    position: relative;
}

.share-box{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    display: none;
    position: absolute;
    width: 105px;
    top: 3px;
    right: 40px;
    left: auto;
    background-color: #191919;
    padding: 0 10px;
    border-radius: 0;
    text-align: center;
    z-index: 2;
    animation: side-in 0.5s forwards;
    margin-bottom: 10px;
    transition: all 0.45s ease 0s;
}

.share:hover .share-box{
    display: inline-block;
}
.share-box a{
    background: transparent !important;
    color: #d7d3f8 !important;
    margin-right: 15px;

}
.share-box i{
    font-size: 15px !important;
}
.share-box a:hover{
    color:  var(--primary-color) !important;
}
.favorites-slider .slick-arrow{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: 60px;
}

.favorites-slider .slick-arrow i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 60px;
    text-align: center;
    opacity: 1;
    z-index: 9;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    line-height: 5px;
    box-shadow: 0 9px 19px #01041b0d;
    font-size: 0;
    transform: none;
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
}
.favorites-slider .slick-arrow.slick-disabled{
    opacity: 0;
}
.favorites-slider .slick-prev{
    color: #fff;
    right: auto;
    left: 9px;
    z-index: 9;
    top: 90px;
}
.favorites-slider .slick-next{
    left: auto;
    color: #fff;
    right: 6px;
    z-index: 9;
    top: 90px;
}

.favorites-slider .slick-prev::before, .favorites-slider .slick-next::before{
    font-size: 0px;
}

.favorites-slider .slick-arrow i{
    font-size: 17px;
}


/* ****************** Responsiveness **************** */
@media (min-width : 1200px){
    li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images{
        transform:  scale3d(1.1,1.1,1) translate3d(-6% , 0,0) perspective(500px);
    }  
}

@media (max-width : 1199px){
    li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images{
        transform:  scale3d(1.1,1.1,1) translate3d(-6% , 0,0) perspective(500px);
    }
}



@media (max-width : 768px){
    li.slide-item .block-images::before{
        content: none;
    }
    li.slide-item.slick-current:hover .block-images, li.slide-item:hover .block-images, li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images, li.slide-item.slick-active + li.slide-item.slick-active + li.slide-item.slick-active:hover .block-images{
        transform: none;
    } 
    .type{
        padding: 9px 10px;
        font-size: 13px;
    }
}

@media (max-width : 767px) {
    .main-title{
        font-size: 1em;
    }

    .slick-bg::before{
        background: linear-gradient(-360deg, rgba(0,0,0,1) 0% , rgba(20,20,20,1) 40% , rgba(83,100,141,0) 100%);

    }
    .favorites-slider .slick-arrow, .favorites-slider .slick-arrow:hover{
        background: none;
    }
    .favorites-slider .slick-prev{
        right: 37px;
    }

    .image-box img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/* ************************** */
.topten-contents{
    position: relative;
    overflow: hidden;
}
h1,h2,h3,h4,h5{
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}

h1 a, h2 a, h3 a , h4 a, h5 a, h6 a{
    color: inherit;
} 


#top-ten-slider-nav .slick-list{
    overflow: visible;
    padding-bottom: 40px !important;
}
#iq-topten .iq-title{
    position: absolute;
    left: 35px;
    top: 35px;
    z-index: 50;
    font-size: 28px;
    font-weight: 700;
}
#top-ten-slider .slick-bg .iq-title a{
    display: none;
}

.topten-title-sm{
    display: none;
}

.vertical_s{
    position: absolute;
    top: 95px;
    right: 0;
    bottom: 0;
    left: 35px;
    overflow: hidden;
}
#top-ten-slider-nav{
    width: 300px;
    height: 100%;
    position: relative;
}
#top-ten-slider-nav .slick-list.draggable{
    height: 100% !important; 
}
#top-ten-slider-nav .slick-prev, #top-ten-slider-nav .slick-next{
    left: 0;
    right: 0;
    margin: 0 auto;
}
#top-ten-slider-nav .NextArrow, #top-ten-slider-nav .PrevArrow{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    width: 60px;
    height: 35px;
}
#top-ten-slider .NextArrow, #top-ten-slider .PrevArrow{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 30px;
    width: 35px;
    height: 60px !important;
    outline: none;
}
#top-ten-slider-nav .NextArrow{
    bottom: 0;
}
#top-ten-slider-nav .PrevArrow{
    top: 0;
}

#top-ten-slider .NextArrow{
    right: 0;
    left: auto;
}
#top-ten-slider .PrevArrow{
    left: 0;
    right: auto;
}

/* we will see about arrow afterwards  */
#top-ten-slider-nav .slick-next::before, #top-ten-slider-nav .slick-prev::before, #top-ten-slider .slick-next::before , #top-ten-slider .slick-prev::before{
    display: none;
}
.slick-arrow{
    cursor: pointer;
}
ul#top-ten-slider .slick-bg::before{
    z-index: 0;
}
#top-ten-slider-nav .NextArrow:hover, #top-ten-slider-nav .NextArrow:focus{
    outline: none !important;
    border:  none !important;
}
#top-ten-slider-nav .PrevArrow:hover, #top-ten-slider-nav .PrevArrow:focus{
    outline: none !important;
    border:  none !important;
}
#top-ten-slider .NextArrow{
    right: 10px;
}
#top-ten-slider .PrevArrow{
    left: 10px;
}


.slick-vertical .slick-slide .block-images::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0% , rgba(20,20,20,0.4) 50% , rgba(83,100,141,0) 100%);
    transition: all 0.45s ease 0s;
}
.slick-vertical .slick-slide .block-images{
    overflow: visible;
}
.slick-vertical .slick-slide .block-images::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.45s ease 0s;
    border-left:  6px solid  var(--primary-color);
}
.slick-vertical .slick-slide.slick-current.slick-active .block-images::before{
    opacity: 1;
    transition: all 0.45s ease 0s;
}
.slick-vertical .slick-slide.slick-current.slick-active .block-images{
    width: 100%;
    overflow: visible;
    transform-origin: 100% 100%;
    transition: all 0.45s ease 0s;
    z-index: 9;

}
.slick-vertical li.slick-slide.slick-current.slick-active{
    transition: all 0.45s ease 0s;
}

.slick-vertical .slick-slide{
    margin-bottom: 18px;
}
.slick-vertical li.slick-slide:last-child{
    margin-bottom: 0 !important;
}
.slick-vertical .block-description .hover-buttons > a{
    opacity: 0;
    display: none;
    transition: all 0.45s ease 0s;
}

.slick-vertical .slick-slide.slick-current.slick-active .block-description .hover-buttons > a{
    transition: all 0.45s ease 0s;
    opacity: 1;
    display: block;
}

/* ************* Responsiveness **************** */
@media (max-width : 991px){
    #top-ten-slider .NextArrow, #top-ten-slider .PrevArrow{
        display: none;
    }
    .topten-title{
        display: none;
    }
}
@media (max-width : 767px){
    #top-ten-slider .NextArrow{
        right: 10px !important;
    }
    #top-ten-slider .PrevArrow{
        left: 10px !important;
    }

    .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }

    #top-ten-slider .NextArrow, #top-ten-slider .PrevArrow{
        width: 30px;
        height: 30px;
        font-size: 23px;
    }

    .vertical_s{
        position: static;
    }
    #top-ten-slider-nav{
        width: 100%;
        height: 100%;
    }

    #top-ten-slider .slick-bg .iq-title a{
        display: block;
        font-size: 0.7em;
        color: #d1d0cf;
    }
    .vertical_s{
        display: none;
    }
    .topten-title-sm{
        display: block;
    }
    .topten-title{
        display: none;
    }
    #top-ten-slider .slick-bg::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0% , rgba(20,20,20,1) 35%, rgba(83,100,141,0) 100%);
        width: 100%;
        z-index: -1;
    }
}

/* *************************** */
.s-margin{
    margin-top: 40px;
}

/* ***************************** */

.parallax-img img{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}
.parallax-window{
    height: 100%;
    padding: 100px 0;
    position: relative;
    background-size: cover;
    background-attachment: fixed ;
}
.parallax-window::after{
position: absolute;
content: "";
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.8);
}
.parallaxt-details{
    z-index: 9;
    position: relative;
}
.parallax-heading{
    font-size: 52px;
}

/* *********** responsiveness ********** */


@media (max-width : 767px){
    .parallax-window{
        padding: 60px 0;
    }
    .parallax-heading{
        font-size: 35px;
    }
}


/* Entity page */

.errorBanner {
    color: #fff;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.season {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    margin: 20px 0px;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.episodeContainer img {
    width: 230px;
    height: 129px;
    object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
    color: #fff;
    width: 100%;
    white-space: normal;
}

.episodeContainer .videoInfo {
    max-height: 200px;
    overflow-y: auto;
}

.previewCategories.noScroll .category .entities {
    white-space: normal;
}










/* ***************** footer **************** */
.footer-top{
    padding: 60px 0;
}

footer .footer-standard .widget ul li{
    display: inline-block;
    padding-right: 30px;
}
footer .footer-standard .widget ul>li>a{
    padding: 0;
    font-weight: 400;
}
footer .footer-standard .widget ul>li>a::before{
    display: none;
}
footer .footer-link-title{
    margin-bottom: 20px;
    margin-top: 0;
}
footer .widget{
    background: transparent;
    border: none;
    padding: 0;
}

footer .info-share li a{
    color: #6c757d;
}
footer .footer-top .info-share li{
    margin-right: 15px;
    margin-bottom: 15px;
}
footer .footer-top .info-share li:last-child{
    margin-right: 0;
}


.iq-bg-dark{
    position: relative;
}
footer .footer-top .info-share{
    padding-left: 0;
}
footer .footer-top .info-share li{
    margin-right: 12px;
    display: inline-block;
}
footer .footer-top .info-share li a{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 0;
    color: #fff;
    font-size: 17px;
    border-radius: 50%;
    background: rgba(41, 41, 41, 0.76);
    transition: all 0.4s ease 0s;
}
footer .footer-top .info-share li a:hover{
    box-shadow: 0 0 10px var(--primary-dark-color);
    text-shadow: 0 0 2px  var(--primary-dark-color);
    color:  var(--primary-dark-color);
    transition: all 0.4s ease 0s;
}
footer .footer-top .info-share li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    z-index: -1;
    border-radius: 50%;
    transition: all 0.4s ease 0s;
}
.textwidget .footer-link-title{
    width: 100px;
}


  
  
  

